<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wurigo.socialService.dao.CallTaxiMapper">
	<insert id="reserRegist" parameterType="Map">
		INSERT INTO 
			woori_booking(
				state,customerType,customerNo,create_date,startDay,reserveTime,startLocPlace,
				finishLocPlace,caseType,serviceType,driverNo
				,update_date,startLocXenc,startLocYenc,finishLocXenc,finishLocYenc,
				startAddress,finishAddress,passengerType,passenger,groupNo)
			VALUES(
				0,0,#{customerNo},now(),#{startDate},#{time},#{startAddr},
				#{endAddr},0,#{service},0
				,now(),#{s_longitude},#{s_latitude},#{e_longitude},#{e_latitude}
				,#{startLoc},#{endLoc},0,#{passenger},0) 
	</insert>
	<insert id="socialReserRegist" parameterType="Map">
		INSERT INTO 
			woori_social_booking
			(customerNo,reserveType,reserveNo,adminNum,
			reserveCount,create_date,update_date)
			VALUES
			(#{customerNo},0,0,#{adminNum}
			,0,now(),'0000-00-00 00:00:00')
	</insert>
</mapper>