<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wurigo.socialService.dao.TaxiDriverMapper">
	<select id="readOne" resultType="String">
	 		SELECT 
	 			groupCode 
	 		FROM 
	 			woori_social_admin 
					WHERE adminNum=#{param1}
	</select>
	<select id="TaxiDriverList" parameterType="Map" resultType="HashMap">
		SELECT drivername,phoneno,taxi_no FROM 
			woori_driver 
		WHERE 
			codeL=#{codeL} AND codeM=#{codeM};
	</select>
	<select id="taxiDriverAllList" parameterType="Map" resultType="HashMap"> 
		SELECT 
			drivername,driverno,phoneno,belong,DATE_FORMAT(create_date,'%Y-%m-%d')create_date,taxi_no,taxi_type,taxi_size,islady
		FROM 
			woori_driver
	</select>
	<select id="taxiDriverInfoList" parameterType="Map" resultType="HashMap"> 
		SELECT 
			drivername,phoneno, DATE_FORMAT(create_date,'%Y-%m-%d')create_date,taxi_no,taxi_type,taxi_size,driverno 
		FROM 
			woori_driver
	    WHERE 
	    	serviceL=#{sido} AND serviceM=#{sigungu};
	</select>
	<select id="taxiDriverInfo" resultType="String">
		select taxi_no from woori_driver where driverNo=#{param1} 	
	</select>
</mapper>